.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

footer, .fixed-bottom{
  background-color: #333333;
  z-index: inherit 100;
}


.Component{
  border-color:#dafb61;
  border-radius: .5rem;
  height: 30rem;
  width:90%;
  z-index: 1;
  margin:1%;
  
  background: linear-gradient(90deg, rgba(255,30,0,1) 0%, rgba(65,65,65,1) 100%);
  transition-duration: 5s;
  transition-delay: 2s;
  transition-property: width, height;

}

.imgComponent{
  background: url="./images/HBcolors.png";
}


.Component:hover{
  border-color:#f1a61a;
  height: 40rem;
  width:90%;
  border-radius: .5rem;
  z-index: 999;
  background: linear-gradient(90deg, rgba(65,65,65,1) 0%, rgba(255,30,0,1) 100%);
} 

.flexboxTest, .Component1{
  /* background-color: #d35400; */
}

iframe, .inputComponent, .ComponentYT{
  /* background-color: #222; */
  border-collapse: solid;
  border-color: #ff1e00;
  border-style:groove;
  border-width:.4rem;
  padding: 1% 0;

}
.Component2{
  background-color: #4dd300;
}

.Component3{
  background-color: #00d3c5;
}

.Component4{
  background-color: #c800d3;
}

.Component5{
  background-color: #d30004;
}


.row{
  margin: 1% 3%;  
  height: 80% !important;
  /* background-color: #454545; */
}  
  
.rowB{
 margin-bottom: 5%; 
}
