.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

footer, .fixed-bottom{
  background-color: #333333;
  z-index: inherit 100;
}


.Component{
  border-color:#c800d3;
  border:1% solid #dafb61;
  border-radius: .5rem;
  height: 30rem;
  width: fit-content;
  z-index: 1;
  margin:1%;
  width:90%;
} 

.Component:hover{
  border-color:#f1a61a;
  border-radius: .5rem;
  ;
  z-index: 999;
border-color: (rgb(2, 249, 10));
} 

.flexboxTest, .Component1{
  background-color: #d35400;
}

.Component2{
  background-color: #4dd300;
}

.Component3{
  background-color: #00d3c5;
}

.Component4{
  background-color: #c800d3;
}

.Component5{
  background-color: #d30004;
}


.row{
  margin: 1% 3%;  
  height: 80% !important;
  background-color: #454545;
}  
  
.rowB{
 margin-bottom: 5%; 
}
