:root {
  --blue: #0067b6;
  --ocean: #29648a;
  --primary: #29648a;
  --sky: #2e9cca;
  --magic: #25274d;
  --fading: #464866;
  --cloud: #aaabb8;
  --lime: #9cb700;
  --night: #111;
}

.App {
  text-align: center;
  /* background-color: #111111; */
}

.mainHeader {
  text-align: left;
  padding-left: 5%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

a {
  color: #29648a;
  text-decoration: underline;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #29648a;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #111; */
  min-height: 100vh;
  display: grid;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /* color: white; */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

footer,
.fixed-bottom {
  background-color: #29648a;
  z-index: inherit 100;
}

.Component {
  padding: 1% 2%;
  color: #fff;
  height: (calc((fit-content)+15% (window))) px;
  /* height: calc((fit-content)+5%(window.innerHeight));  */
  /* height 593.047px */
  width: 95%;
  z-index: 1;
  margin: 1%;
  box-shadow: 0 3px 6px #fff, 0 3px 6px #fff;

  background: linear-gradient(
    300deg,
    rgba(34, 34, 34, .8) 0%,
    rgba(41, 100, 138, .5) 50%,
    rgba(17, 17, 17, 1) 100%
  );
  border-style: inset;
  border-width: 0.01rem;
  border-radius: 0.5rem;
  transition-duration: 5s;
  transition-delay: 0s;
}

.wrapper {
  background-color: #111;
}
/* 
.Component:hover {
  box-shadow: 0 3px 6px #fff, 0 3px 6px #fff;
  transition-property: box-shadow;
  box-shadow: 10px 10px;
  background-color: #29648a;
  color: white;
  z-index: 999;
} */

.row {
  height: 80% !important;
}

.rowB {
  margin-bottom: 5%;
}
